# Django Framework & Related
Django==4.2.13
djangorestframework==3.15.2

# Authentication & Authorization
djangorestframework-simplejwt==5.5.0
dj-rest-auth==5.1.0
django-allauth==64.2.1

# Utilities
python-dotenv==1.0.1
requests==2.32.3

# Production Deployment (WSGI Server)
gunicorn==22.0.0


# Database Driver (entrypoint.sh에서 동적으로 설치)